body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#colorDisplay {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

#output {
    font-size: 18px;
}

.copyright {
    text-align: center;
    margin: 15px 0;
    color: #999;
    font-size: 14px;
}

.copyright a {
    text-decoration: none;
    font-weight: bold;
    color: unset;
    transition: opacity .2s;
}

.copyright a:hover {
    opacity: .5;
}

.counter {
    text-align: center;
    margin-top: 10px;
    color: #999;
    font-size: 14px;
}